.backgroundimg {
    background-image: url(../../images/air11.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back{
    width: 55%;
    height: 93%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
}  
